@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Summer hue: 28, Winter hue: 202 */
        --baseHue: 28;

        --background: var(--baseHue) 76.5% 98%;
        --foreground: var(--baseHue) 47.4% 11.2%;

        --muted: var(--baseHue) 40% 96.1%;
        --muted-foreground: var(--baseHue) 16.3% 40%;

        --popover: 0 0% 100%;
        --popover-foreground: var(--baseHue) 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-transparent: 0 0% 100%;
        --card-foreground: var(--baseHue) 47.4% 11.2%;

        --border: var(--baseHue) 31.8% 91.4%;
        --input: var(--baseHue) 31.8% 91.4%;

        --primary: var(--baseHue) 47.4% 11.2%;
        --primary-foreground: var(--baseHue) 40% 98%;

        --secondary: var(--baseHue) 40% 96.1%;
        --secondary-foreground: var(--baseHue) 35.4% 30%;

        --tertiary: var(--baseHue) 40% 80.1%;
        --tertiary-foreground: var(--baseHue) 20% 40%;

        --accent: var(--baseHue) 40% 90.1%;
        --accent-foreground: var(--baseHue) 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: var(--baseHue) 20.2% 65.1%;

        --radius: 0.5rem;

        --light-display: visible;
        --dark-display: none;

        --bg-selection: hsl(137, 40%, 24%);
        --text-selection: #fff;
    }

    .dark {
        --baseHue: 212;

        --background: var(--baseHue) 16% 19%;
        --foreground: var(--baseHue) 47% 92%;

        --muted: var(--baseHue) 16% 10%;
        --muted-foreground: var(--baseHue) 16% 98%;

        --popover: var(--baseHue) 16% 19%;
        --popover-foreground: var(--baseHue) 47% 89%;

        --card: var(--baseHue) 16% 10%;
        --card-transparent: var(--baseHue) 0% 0%;
        --card-foreground: var(--baseHue) 17% 92%;

        --border: var(--baseHue) 16% 25%;
        --input: var(--baseHue) 31% 9%;

        --primary: var(--baseHue) 16% 98%;
        --primary-foreground: var(--baseHue) 40% 20%;

        --secondary: var(--baseHue) 47% 25%;
        --secondary-foreground: var(--baseHue) 10% 70%;

        --tertiary: var(--baseHue) 16% 10%;
        --tertiary-foreground: var(--baseHue) 10% 65%;

        --accent: var(--baseHue) 20% 25%;
        --accent-foreground: var(--baseHue) 47% 92%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: var(--baseHue) 20% 65%;

        --radius: 0.5rem;

        --light-display: none;
        --dark-display: visible;

        --bg-selection: hsl(137, 40%, 90%);
        --text-selection: #000;
    }

    * {
        @apply border-border;
    }

    /* Enable smooth color transitions when switching themes */
    *,
    *::before,
    *::after {
        transition:
            background-color 0.3s ease,
            border-color 0.3s ease,
            color 0.3s ease;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }

    button,
    [role="button"] {
        @apply cursor-auto;
    }

    :target {
        scroll-margin-top: 4rem;
    }
    ::selection {
        background: var(--bg-selection);
        color: var(--text-selection);
    }
}

@keyframes avatar-in {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

svg.lucide {
    stroke-width: 1.75px;
}
