NEXT_PUBLIC_VERCEL_ENV=development
GREDICE_API_HOST=http://localhost:3005
GREDICE_JWT_SIGN_SECRET=local-dev-sign-secret
COOKIE_DOMAIN=
POSTGRES_URL=
GREDICE_DELIVERY_HQ_ADDRESS=Ulica Julija Knifera 3, 10000 Zagreb, Hrvatska
GREDICE_GOOGLE_MAPS_API_KEY=
GREDICE_GOOGLE_MAPS_URL_SIGNING_SECRET=
