{
    admin off
    servers {
        protocols h1 h2
    }
}

http://www.gredice.test {
    redir https://www.gredice.test{uri}
}

https://www.gredice.test {
    tls internal
    reverse_proxy http://host.docker.internal:3000 {
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}

http://vrt.gredice.test {
    redir https://vrt.gredice.test{uri}
}

https://vrt.gredice.test {
    tls internal
    reverse_proxy http://host.docker.internal:3001 {
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}

http://farma.gredice.test {
    redir https://farma.gredice.test{uri}
}

https://farma.gredice.test {
    tls internal
    reverse_proxy http://host.docker.internal:3002 {
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}

http://app.gredice.test {
    redir https://app.gredice.test{uri}
}

https://app.gredice.test {
    tls internal
    reverse_proxy http://host.docker.internal:3003 {
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}

http://api.gredice.test {
    redir https://api.gredice.test{uri}
}

https://api.gredice.test {
    tls internal
    reverse_proxy http://host.docker.internal:3005
}
